<div class="container-fluid">
  <div class="row">
      <div class="col-12 content d-flex justify-content-center align-items-center" style="background-color: #3f51b5">
          <mat-card class="d-flex justify-content-center align-items-center">
            <div>
              <h4>American Playbook</h4>
            </div>
            <div>
              <img src="../../../assets/logo.svg" class="responsive" alt="Girl in a jacket">
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <mat-form-field appearance="fill">
                <mat-label>Usuário</mat-label>
                <input matInput formControlName="usuario" required>
                <mat-error *ngIf="checkError('usuario', 'required')">Obrigatório</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Senha</mat-label>
                <input matInput [type]="hide ? 'senha' : 'text'" formControlName="senha" required>
                <mat-error *ngIf="checkError('senha', 'required')">Obrigatório</mat-error>
              </mat-form-field>
              <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
               Login
              </button>
            </form>
            <button (click)="recuperarSenha()" mat-raised-button>
              Recuperar Senha
             </button>
             <button (click)="sair()" mat-raised-button>
              Sair
             </button>
          </mat-card>
      </div>
  </div>
